<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Test Suite" data-provider-thread-count="100"
	thread-count="100" group-by-instances="true" parallel="instances">

	<listeners>
		<listener class-name="com.livehealth.listener.ReportListener" />
		<listener class-name="com.livehealth.listener.RetryListener" />
	</listeners>

	<test name="Test" group-by-instances="true">

		<classes>
		<!-- 	<class name="com.livehealth.test.RegisterTest" />
			<class name="com.livehealth.test.BillingTest" />
			<class name="com.livehealth.test.BillUpdateTest" />
			<class name="com.livehealth.test.AccessionTest" />  -->
			<class name="com.livehealth.test.ReferralManagementTest" />
			<class name="com.livehealth.test.DoctorManagementTest" />
			<class name="com.livehealth.test.OrganizationManagementTest" />
			<class name="com.livehealth.test.ListManagementTest" />
			<class name="com.livehealth.test.BillSettlementTest" />
			<class name="com.livehealth.test.AppointmenetTest" />
			<class name="com.livehealth.test.AdanceCollectionTest" />
			

		</classes>

	</test>
</suite>
